@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url(typography.css);
@import url(responsive.css);

$accent-color: rgb(201, 54, 70);

* {
    margin: 0px;
    padding: 0px;
    font-family: Unbounded, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

header {
    margin: 2rem;
    display: grid;
    place-items: center;

    img {
        width: clamp(15rem, 20vw, 325px);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1vw);
    }
}

.arrow-section {
    display: grid;
    place-items: center;
    background-image: url(images/introduction.png);
    // background-size: clamp(500px, 100%, 1894px), clamp(100px, 100%, 663px);
    background-size: contain;
    background-position: center;
    height: 35vw;

    a {
        display: block;
        position: relative;
        bottom: 2vw;
        animation: slide-top 1s ease-in-out infinite alternate;


        img {
            width: 4vw;
        }
    }
}

#about {
    .about {
        display: grid;
        place-items: center;
        height: 5em;
        background-color: $accent-color;
        color: white;
    }

    article {
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;

        main {
            margin-left: clamp(10vw, 15vw, 25vw);
            margin-right: 8vw;

            .zheldor {
                display: flex;
                width: fit-content;
                margin-bottom: 1.5em;
                padding: .7em;
                border-radius: 2rem;
                border: 2px solid black;

                img {
                    display: inline;
                    height: 1.3em;
                    margin-right: .5em;
                }
            }

            h1 {
                width: 7em;
                margin-bottom: 2.5rem;
            }

            p {
                width: 30vw;
                line-height: 1.5em;
                text-align: justify;
                margin-bottom: 1em
            }

            button {
                margin-top: 1em;
                padding: 1em;
                border: none;
                border-radius: 2em;
                background-color: $accent-color;
                color: white;
                font-size: clamp(.8rem, 1vw, 1vw);
            }
        }

        img.mural-aside {
            width: 34vw;
            height: 53vw;
            ;
        }
    }
}